img {
	background-color: black;
	width: 600px;
}
.centrado{

margin-left: 400px; 

margin-right: 400px;

}
p {	
	font-size: 25px;
	font-family: 'Arial', sans-serif;
	color: ivory;
	margin: 15px
}

#menu {}
	#menu ul {
		list-style:none;
		margin: 0;
		padding: 0;

	}

	#menu ul li {
		display: inline-flex;

	}

	#menu ul li a {
		color: white;
		text-decoration: none;
		display: block;
		padding: 20px;
		margin: 0;
	}
#menu{
		background-color: rgb(0, 0, 0);
} 

#menu ul li a:hover{
	background-color: #5142f5;
}

body {
	background-color: darkblue;
}

h1 {
	display: inline-flex;
	color: rgb(0, 0, 0);
	font-family: 'Lobster', cursive;

}

.social-bar {
	position:fixed;
	right: 0;
	top: 35%;
	font-size: 1.5rem;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	z-index: 100;
}

.icon {
	color: white;
	text-decoration: none;
	padding: .7rem;
	display: flex;
	transition:all .5s;


}

.icon-facebook {
			background: #2E406E;
}

.icon-twitter {
			background: #339DC5;
}

.icon-youtube {
			background: #e83028;
}

.icon-instagram {
			background: #3F60A5;

}

.icon:first-child{

	border-radius: 1rem 0 0 0;

}

.icon:last-child {
	border-radius: 0 0 0 1rem;

}

.icon:hover {
	padding-right: 3rem;
	border-radius: 1rem 0 0 1rem;
	box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.42);
}

p {
	margin: 15px;
	background-color: darkblue;
}

header {
	background-color: darkorange;
	text-align: center;
}

h1 {
	color: white;
	text-align: center;
}

* {
	color: white;
}

h3 {
	text-align: center;
	font-size: 30px;
}
ul {
	text-align: center;
	
	padding: 0px;
}

a {
	text-align: center;
}
